.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
provider-schema.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plans
*.tfplan
*.tfplan.json

# Temporary investigation files
diff*.txt
log.txt
